<html>
{% load staticfiles %}
<head>
<link rel="stylesheet" href="{% static "css/normalize.css" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>

<header>
    <div class="title"><a href="/">PDF to HTML</a></div>
    <div class="account">
        {% if request.user.is_authenticated %}
        Hi, '{{ request.user.username }}'!
        <a href="{% url 'rest_framework:logout' %}?next=/">Logout</a>
        {% else %}<a href="{% url 'register' %}">Register</a> <a href="{% url 'rest_framework:login' %}">Login</a>{% endif %}
    </div>
</header>

<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
</html>
