{% extends "documents/base.html" %}

{% load staticfiles %}
{% block content %}
    {% if request.user.is_authenticated %}
    <div class="recent-docs">
        <h2>Recent docs</h2>
        <ul id="recent-docs">
        {% for doc in docs %}
        <li><a href="{% url 'display' doc.id %}">{{ doc.title }}</a></li>
        {% empty %}
        You don't have any docs yet!
        {% endfor %}
        </ul>

         <form id="file-form" method="POST">
              <input type="file" id="file-select" accept="application/pdf" required />
            <input type="" id="doc-title" value placeholder="Title of the doc." required/>
            <button type="submit" id="upload-button">Upload</button>
        </form>
        <p id="status">

        </p>
    </div>
    {% else %}
        To use the service you need to <a href="{% url 'login' %}">login</a> or  <a href="{% url 'register' %}">register</a>.
    {% endif %}


    <script src="{% static 'js/home.js' %}"></script>
{% endblock content %}
