.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
}

header {
    font-size: 18px;
    background-color: #E57E94;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0 0 30px 0;
    height: 70px;
    color: whitesmoke;
}

a {
    color: rgb(148, 69, 69);;
    text-decoration: none;
    font-weight: 900;
}

.account {
    float: right;
    padding: 10px;
    margin: auto;
}

.title {
    margin: auto;
    display: inline-block;
    float: left;
    padding: 10px;
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

input, textarea, select, button {
    width : 250px;
    display: block;
    margin:  0 0 10px 0;
    border-radius: 2px;
    border: 1px solid #999;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

form {
    width: 250px;
}

button[type=submit], input[type=submit] {
    float: right;
    width: auto;
    background-color: #44d245;
    padding: 0.5em;
    color: #fdfdfd;
    cursor: pointer;
    margin: 0 0 10px 0;
}


input {
    padding: 0.5em;
}

input[type=file] {
    border: none;
    cursor: pointer;
    padding: 0;
}

label, .helptext {
    font-family : inherit;
    font-size   : 90%;
}

::-webkit-file-upload-button {
    border-radius: 2px;
    border: 1px solid #999;
    padding: 0.5em;
}

::-ms-browse {
    color: red;
    padding: 1em;
}
